<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ptkzonelabs.rupeefy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rupeefy">
        <activity android:name=".Activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.DashboardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.OtpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.PhoneNumberActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.RentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.TravelActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.ShoppingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.RepairActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.FuelActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.FoodActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.HealthActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.SportsActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>